@charset "utf-8";
body{
  margin:0;
  background: gray;
}

main{
  width: 360px;
  margin: 32px auto;
}

section {
  border: 4px double red;
  text-align: center;
  color: blue;
  background: #590c9b;
}

h1{
  margin: 0;
  padding: auto;
  height: 60px;
  border-bottom: 2px solid red;
  font-weight: normal;
  font-size: 24px;
  padding: 8px 0;
  color: white;
  text-align: center;
}

img{
  width: 340px;
  height: 450px;
  padding: 12px auto;
}

button{
  all: unset;
  width: 100%;
  background: rgb(118, 19, 163);
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 8px 0;
  margin-top: 8px;
  cursor: pointer;
  box-shadow: 0 4px gray;
  }

  button:hover{
    opacity: 0.8;
  }

  button:active{
    box-shadow: 0 1px gray;
    transform: translateX(3px);
  }

  p{
    height: 300px;
    border:2px solid rgb(77, 77, 218);
    color: rgb(225, 223, 240);
    background: rgb(110, 95, 209);
    text-align: center;
    font-size: 18px;
    user-select: none;
  }

  .active{
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }

  .reverse{
    transform: scale(-1,1) rotate(180deg);
  }